
cs
.vscode/settings.json
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/State.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/State.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/State$.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/META-INF/semanticdb/automate.scala.semanticdb
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/META-INF/semanticdb/automata.scala.semanticdb
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/DFA.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/DFA.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/DFA$.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/Automata.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/Automata.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/automata$package.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/automata$package.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/automata$package$.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/Automata$.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/State.tasty
.scala-build/INFO0054-Project_48af9ff81c/classes/main/State.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/State$.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/META-INF/semanticdb/automata.scala.semanticdb
.scala-build/INFO0054-Project_48af9ff81c/classes/main/DFA.tasty
.scala-build/INFO0054-Project_48af9ff81c/classes/main/DFA.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/DFA$.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/Automata.tasty
.scala-build/INFO0054-Project_48af9ff81c/classes/main/Automata.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/automata$package.tasty
.scala-build/INFO0054-Project_48af9ff81c/classes/main/automata$package.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/automata$package$.class
.scala-build/INFO0054-Project_48af9ff81c/classes/main/Automata$.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/State.tasty
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/State.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/State$.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/DFA.tasty
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/DFA.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/DFA$.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/Automata.tasty
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/Automata.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/automata$package.tasty
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/automata$package.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/automata$package$.class
.scala-build/INFO0054-Project_42845de27a-9447bd9d1c/classes/main/Automata$.class
.scala-build/ide-options-v2.json
.scala-build/ide-launcher-options.json
.scala-build/ide-inputs.json
.scala-build/ide-envs.json
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/INFO0054-Project_f4dd477a3a-analysis.bin
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/State.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/State.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/State$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/META-INF/semanticdb/automate.scala.semanticdb
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/META-INF/semanticdb/automata.scala.semanticdb
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/DFA.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/DFA.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/DFA$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/Automata.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/Automata.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/automata$package.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/automata$package.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/automata$package$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-amL6GgCsR7WjLEQJSI-adg==/Automata$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a.json
.scala-build/.bloop/INFO0054-Project_f4dd477a3a-test.json
.scala-build/.bloop/INFO0054-Project_48af9ff81c/INFO0054-Project_48af9ff81c-analysis.bin
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/State.tasty
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/State.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/State$.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/META-INF/semanticdb/automata.scala.semanticdb
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/DFA.tasty
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/DFA.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/DFA$.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/Automata.tasty
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/Automata.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/automata$package.tasty
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/automata$package.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/automata$package$.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c/bloop-internal-classes/main-A0AMCPyRS62vJVOFMED-xA==/Automata$.class
.scala-build/.bloop/INFO0054-Project_48af9ff81c.json
.scala-build/.bloop/INFO0054-Project_48af9ff81c-test.json
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/INFO0054-Project_42845de27a-9447bd9d1c-analysis.bin
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/State.tasty
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/State.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/State$.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/DFA.tasty
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/DFA.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/DFA$.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/Automata.tasty
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/Automata.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/automata$package.tasty
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/automata$package.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/automata$package$.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c/bloop-internal-classes/main-IFDbk77qRDaNGfPpwv5oeQ==/Automata$.class
.scala-build/.bloop/INFO0054-Project_42845de27a-9447bd9d1c.json
.metals/metals.mv.db
.metals/metals.log
.metals/.reports/metals/2024-11-15/r_scala-toplevel-mtags_(INFO0054-Project_f4dd477a3a)_15-45-43-224.md
.metals/.reports/metals/2024-11-15/r_scala-toplevel-mtags_(INFO0054-Project_48af9ff81c)_17-41-17-256.md
.metals/.reports/metals/2024-11-14/r_scala-toplevel-mtags_(INFO0054-Project_f4dd477a3a)_19-45-42-321.md
.metals/.reports/metals/2024-11-14/r_scala-toplevel-mtags_(INFO0054-Project_f4dd477a3a)_19-42-30-165.md
.metals/.reports/metals/2024-11-14/r_scala-toplevel-mtags_(INFO0054-Project_f4dd477a3a)_19-32-30-068.md
.bsp/scala.json
.bsp/scala-cli.json
.metals/.tmp/classpath_EF13F0C8DC40B68B494FF729AF6D29D3.jar
.metals/metals.lock.db
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/Automata$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/automata$package$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/automata$package.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/automata$package.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/Automata.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/Automata.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/binaire$package$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/binaire$package.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/binaire$package.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/DFA$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/DFA.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/DFA.tasty
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/META-INF/semanticdb/automata.scala.semanticdb
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/META-INF/semanticdb/binaire.scala.semanticdb
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/State$.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/State.class
.scala-build/.bloop/INFO0054-Project_f4dd477a3a/bloop-internal-classes/main-WeZbpjscQMu36TFIbT53Sw==/State.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/binaire$package$.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/binaire$package.class
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/binaire$package.tasty
.scala-build/INFO0054-Project_f4dd477a3a/classes/main/META-INF/semanticdb/binaire.scala.semanticdb
